<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="paper"></ion-tab>
</ion-tabs>
