page-contact {
	body {
	  padding-top: 126px;
	  padding-left: 10px;
	  padding-right: 10px;
	  background-size: cover;
	  font-family: 'Roboto Condensed', sans-serif;
	  color: #fff;
	  font-size: 14px;
	  line-height: 20px;
	  text-align: center;
	  content-justify:center;
	}
	::-webkit-scrollbar,
	*::-webkit-scrollbar {
	  display: none;
	}
}
