<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ "ADDBOOK" | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<body>
    <ion-content padding>
        <ion-list class= "inputspaces">
             <ion-item>
                 <ion-label floating>{{ "NAME" | translate }}</ion-label>
                 <ion-input type="text" [(ngModel)]="name"></ion-input>
              </ion-item>
            <ion-item>
                 <ion-label floating>{{ "AUTHOR" | translate }}</ion-label>
                 <ion-input type="text" [(ngModel)]="author"></ion-input>
            </ion-item>
            <ion-item>
                 <ion-label floating>{{ "LANGUAGE" | translate }}</ion-label>
                 <ion-input type="text" [(ngModel)]="language"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>{{ "CATEGORY" | translate }}</ion-label>
                <ion-select [(ngModel)]="category">
                    <ion-option value="book">Book</ion-option>
                    <ion-option value="magazine">Magazine</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{ "GENDER" | translate }}</ion-label>
                <ion-select [(ngModel)]="gender">
                    <ion-option value="a">A</ion-option>
                    <ion-option value="b">B</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                 <ion-label floating>{{ "PRICE" | translate }}</ion-label>
                 <ion-input type="text" [(ngModel)]="price"></ion-input>
            </ion-item>
            <button ion-button block (click)="AddBook()">{{ "ADDBOOK" | translate }}</button>
        </ion-list>
    </ion-content>
    <button ion-button secondary menuToggle>Toggle Menu</button>
</body>
