<!--
  Generated template for the Npi page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "ADDCAT" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class= "inputspaces">
        <ion-item>
             <ion-label floating>{{ "CATEGORY" | translate }}</ion-label>
             <ion-input type="text" [(ngModel)]="cat"></ion-input>
        </ion-item>
        <ion-item>
             <ion-label floating>{{ "GENDER" | translate }}</ion-label>
             <ion-input type="text" [(ngModel)]="gen"></ion-input>
        </ion-item>
        <ion-toolbar>
            <button ion-button (click)="addGender()">Add gender</button>
            <button ion-button (click)="addCat()">Add category</button>
        </ion-toolbar>
        
    </ion-list>
</ion-content>
<button ion-button secondary menuToggle>Toggle Menu</button>