<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ "MENU" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-button full  (click)="toEnglish()">English</button>
      <button menuClose ion-button full  (click)="toSpanish()">Español</button>
      <button menuClose ion-button full  (click)="addCat()">{{ "ADDCAT" | translate }}</button>
      <button menuClose ion-button full  (click)="logOut()">{{ "LOGOUT" | translate }}</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
../assets/images/bglogin.jpg