page-about {

	#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
	}

	.text-input::-moz-placeholder {
	  color: white;
	}

	.text-input:-ms-input-placeholder {
		color: white;
		text-transform: uppercase;
		text-align: center;	
		font-weight: bold;
	}

	.text-input::-webkit-input-placeholder {
	  text-indent: 0;
	  color: white;
	}
	

	.chat {
		background-image: url('../assets/images/chatbg.gif');
	    margin: auto;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	}
	.itemlist {
		background-color: #800000;
	    border-radius: 5px;
	    box-shadow: 0 0 6px #B2B2B2;
	    display: inline-block;
	    padding: 10px 18px;
	    position: relative;
	    vertical-align: top;
	    float: left;   
    	margin: 5px 45px 5px 20px; 
	}

}
