
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ "CHAT" | translate }}
    </ion-title>
  </ion-navbar>
  <ion-item>
      <ion-label floating>{{ "TO" | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="to"></ion-input>
  </ion-item>
</ion-header>


<ion-content #content padding class="chat">
  <ion-list id=list class="itemlist"></ion-list>
</ion-content>
<button ion-button secondary menuToggle>Toggle Menu</button>


<ion-footer class="chatPageFooter">
    <input ng-model="csv"
        type="file" id="fileInput"/>
    <ion-toolbar>
        <ion-input id="TextInput" (keyup.enter)="onEnter()" placeholder="Message" [(ngModel)]="valor"></ion-input>
        <ion-buttons right>
            <button style="min-width:45px;" (click)="Send()">
                <ion-icon name="send"></ion-icon>
            </button>
            <button style="min-width:45px;" (click)="imgpicker()">
            <ion-icon name="image"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

