<ion-header>
  <ion-navbar>
    <ion-title>TEC</ion-title>
  </ion-navbar>
</ion-header>

<body>
<h1 class="logo">BookApp</h1>
  <div class="utility-page-form">
      <ion-list class="sign-up-form">
          <ion-input class="field" type="text" required="required" type="email" placeholder="e-mail" [(ngModel)]="email"></ion-input>
          <ion-input class="field" required="required" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          <button ion-button (click)="LoginEmail()">{{ "LOGIN" | translate }}</button>
          <button ion-button (click)="CreateUser()">{{ "SIGNUP" | translate }}</button>
          <button ion-button (click)="LoginFb()">{{ "LOGIN WITH FACEBOOK" | translate }}</button>
      </ion-list>
      
  </div>

  <ion-footer class="footer-section">
    <div class="w-col w-col-6 w-col-small-6">
      
    </div>
    <ion-toolbar>
      <button ion-button clear (click)="toEnglish()">English</button>
      <button ion-button clear (click)="toSpanish()">Español</button>
    </ion-toolbar>
  </ion-footer>
</body>