page-home {

	body {
	  padding-top: 126px;
	  background-color: #000;
	  background-image: url('../assets/images/fans-black.jpg');
	  background-size: cover;
	  font-family: 'Roboto Condensed', sans-serif;
	  color: #fff;
	  font-size: 14px;
	  line-height: 20px;
	  text-align: center;
	  content-justify:center;
	}
	h1 {
	  margin: 10px 0px;
	  font-family: 'Roboto Condensed', sans-serif;
	  color: #2d3338;
	  font-size: 50px;
	  line-height: 54px;
	  font-style: normal;
	  font-weight: 500;
	  text-shadow: none;
	}
	.logo {
	  display: inline-block;
	  margin-right: auto;
	  margin-bottom: 19px;
	  margin-left: auto;
	  padding: 21px;
	  border: 8px solid #fff;
	  color: #F8F8FF;
	  font-weight: 700;
	  letter-spacing: 8px;
	  -webkit-animation: mymove 5s infinite;
	  animation: mymove 5s infinite;
	  text-shadow: none;
	}
	@-webkit-keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
	}
	@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
	}
	.utility-page-form {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: column;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  -webkit-box-align: stretch;
	  -webkit-align-items: stretch;
	  -ms-flex-align: stretch;
	  align-items: stretch;
	  content-justify:center;
	}
	.field {
	  height: 54px;
	  margin-bottom: 19px;
	  padding-right: 50px;
	  padding-left: 50px;
	  border: 0px solid #000;
	  -webkit-transition: box-shadow 150ms ease;
	  transition: box-shadow 150ms ease;
	  color: #F8F8FF;
	  font-size: 16px;
	  text-align: center;
	  text-transform: uppercase;
	  content-justify:center;
	}

	@media (max-width: 775px){
		.sign-up-form {
		  display: block;
		  content-justify:center;
		}
	}
	.sign-up-form {
	  display: block;
	  width: 415px;
	  margin: 35px auto 66px;
	  content-justify:center;
	}
	.footer-section {
	  position: fixed;
	  left: 0px;
	  right: 0px;
	  bottom: 0px;
	  padding-top: 38px;
	  background-color: rgba(0, 0, 0, .18);
	  color: #7e7c87;
	}
	.copyright {
	  color: hsla(0, 0%, 100%, .52);
	  text-align: left;
	}
}
