<!--
  Generated template for the Npi page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "BOOKS" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list id=books class="itemlist"></ion-list>
</ion-content>
<button ion-button secondary menuToggle>Toggle Menu</button>